# TypeScript
*.tsbuildinfo
next-env.d.ts

# Node.js
/node_modules
package-lock.json

# IDE & Editor
.idea
.vscode
.claude
.DS_Store

# Environment variables
.env

# Next.js build
/.next/
/out/
/build

# Certificates
*.pem

# Public build artifacts
/public
.env
